In [1]:
print(10)

10

In [2]:
print('python')

python

In [3]:
print(10,20,30)

10 20 30

In [4]:
print(10,10.5,'Naresh it', True)

10 10.5 Naresh it True

In [5]:
n1=10
n2=20
print(n1,n2)

10 20

In [6]:
print(10), print(20) #good

10
20

(None, None)

In [7]:
print(10,20,30)
print(10), print(20)

10 20 30
10
20

(None, None)

In [8]:
n1=10
n1

10

In [9]:
print(10)
print(20)

10
20

In [10]:
print(10,20)

10 20

In [11]:
print(10), print(20)

10
20

(None, None)

In [12]:
10,20

(10, 20)

In [13]:
n1=10
n2=20
n1,n2

(10, 20)

In [14]:
a=100
b=200
c=a+b
#the addition of 10 and 20 is 30
print("the addition of 10 and 20 is 30")

print("the addition of",a, "and", b,"is", c)

the addition of 10 and 20 is 30
the addition of 100 and 200 is 300

# format

In [15]:
a=100
b=200
c=a+b
print("the addition of {} and {} is {}".format(a,b,c))

the addition of 100 and 200 is 300

In [16]:
#read your name
#read your age
#read your city
#My name is python, Im 10 years ols, Im from hyderabad
name="python"
age=10
city='hyd'
print("My name is {} , im {} years old, Im from {}".format(name,age,city))

My name is python , im 10 years old, Im from hyd

In [17]:
#employee name
#employee role
# company
name='omkar'
role='DS'
company='Google'
print("My name is {} , I want to become {} , in {} company".format(name,role,company))

My name is omkar , I want to become DS , in Google company

# f string

In [18]:
a=100
b-200
c=a+b
print(f"the addition of{a} and {b} is {c}")

the addition of100 and 200 is 300

In [2]:
name="python"
age=10
city="hyd"
print(f"My name is {name} , my age is {age} , im from {city} ")

My name is python , my age is 10 , im from hyd

In [20]:
name='omkar'
role='DS'
company='Google'
print(f"My name is {name} , I want to become {role} , in {company} company")

My name is omkar , I want to become DS , in Google company

# second session on print statements

In [1]:
print(10)

10

In [3]:
print('python')

python

In [4]:
n='hi, im navya sri'
n

'hi, im navya sri'

In [5]:
print(10,10.5,'naresh it', True)

10 10.5 naresh it True

In [6]:
n1=10
n2=20
print(n1)
print(n2)

10
20

In [7]:
print(10, 20, 30)
print(10,20)
print(10)

10 20 30
10 20
10

In [8]:
print(10), print(20)

10
20

(None, None)

# Format method

In [9]:
a=100
b=200
c=a+b
print("the addition of", a, "and", b, "is",c)

the addition of 100 and 200 is 300

In [10]:
n1='python'
n2=20
n3="hyd"
print("My name is {} , im {} years old, im from {}".format(n1,n2,n3))

My name is python , im 20 years old, im from hyd

In [11]:
emp_name='navya'
emp_role="data scientist"
emp_company="cognizant"
print("Im {} , my role is {} , im working in {} company".format(emp_name, emp_role,emp_company))

Im navya , my role is data scientist , im working in cognizant company

# f string method

In [13]:
a=100
b=200
c=a+b
print(f"the addition of {a} and {b} is {c}")

the addition of 100 and 200 is 300

In [14]:
n1="python"
n2=20
n3="city"
print(f" im {n1} , im {n2} years old, im from {n3}")

 im python , im 20 years old, im from city

In [15]:
num1=100
num2=200
avg=(num1+num2)/2
print(f"the avg of {num1} and {num2} is {avg}")

the avg of 100 and 200 is 150.0

In [16]:
#radius of the circle
#take the pi value=3.14
#find the area of the circle = pi*r*r
rad=10
pi=3.14
area=pi*rad*rad
print("the area of the circle is {}".format(area))
print(f"the area of the circle is {area}")

the area of the circle is 314.0
the area of the circle is 314.0

In [19]:
#take the breadth(base) of the traiangle
#take the height of the traingle
#area of the triangle = 1/2*base*height
base=10
height=20
area=1/2*base*height
print("the area of the triangle is {}".format(area))
print(f"the area of the triangle is {area}")

the area of the triangle is 100.0
the area of the triangle is 100.0

In [20]:
#take the bill amount
#tak the tip percentage
#calculate the tip amount
#calculate the total bill 10/100*(1000)
#print the total bill
bill_amount=1000
tip_percentage=10
tip_amount=bill_amount*tip_percentage/100
total_bill=tip_amount+bill_amount
print(f"the total bill is:{total_bill}")

the total bill is:1100.0

# End operator

- combining multiple statements in a singl line

In [21]:
print(10,end=' ')
print(20)

10 20

In [22]:
print(10,end=' ')
print(20,end=' ')
print(30)

10 20 30

# seperator operator

- separate the multiple values in a singl print statement

In [24]:
print(10,20,30,sep='&')

10&20&30

In [25]:
print(10,20,30,sep='$')

10$20$30

In [26]:
print("the addition of {} and {} is {}.".format(5,3,5+3))

the addition of 5 and 3 is 8.

In [27]:
print("The addition of 5 and 3 is 8",'.')

The addition of 5 and 3 is 8 .

In [30]:
print("The addition of 5 and 3 is 8",'.',sep='')

The addition of 5 and 3 is 8.