**dictionary**
- we already seen many inbuilt datatypes
- string
- list
- tuple
- set
- dictionary(now)

**zip**

In [1]:
names=['ramesh','suresh','kamlesh']
age=[20,25,30]
for i,j in zip(names,age):
    print(i,j)

ramesh 20
suresh 25
kamlesh 30

- for combining two lists here we use the zip method
- based on zip method it automatically form as the key value pair
- if both lists are in different length zip method will not work

In [2]:
list(zip(names,age))

[('ramesh', 20), ('suresh', 25), ('kamlesh', 30)]

In [3]:
tuple(zip(names,age))

(('ramesh', 20), ('suresh', 25), ('kamlesh', 30))

In [ ]:
'ramesh' is the key ========== 20 is its related value
dict1={'ramesh':20,'suresh':25,'kamlesh':30}

In [4]:
dict1={'ramesh':20,'suresh':25,'kamlesh':30}
dict1

{'ramesh': 20, 'suresh': 25, 'kamlesh': 30}

In [5]:
type(dict1)

dict

In [6]:
len(dict1)

3

In [7]:
max(dict1)

'suresh'

In [8]:
min(dict1)

'kamlesh'

**initialization**

***create all types of dictionary***

In [12]:
dic1={'navya':1}
dic1

{'navya': 1}

In [13]:
dis1={2:7,5:0,4:10}
dis1

{2: 7, 5: 0, 4: 10}

In [16]:
dis1[2]

7

In [17]:
dis1[2]=8

In [18]:
dis1

{2: 8, 5: 0, 4: 10}

In [20]:
dict2={3:7,{7:9,{2:0}}}

SyntaxError: invalid syntax (2522234624.py, line 1)

In [21]:
dic3={'navya':'lakku','sravya':'sri','anya':'vangya'}
dic3

{'navya': 'lakku', 'sravya': 'sri', 'anya': 'vangya'}

In [22]:
dic4={True:1,False:2}
dic4

{True: 1, False: 2}

In [23]:
d3={'ajay':30,'ajay':25}
d3

{'ajay': 25}

In [24]:
d4={30:'ajay',25:'ajay'}
d4

{30: 'ajay', 25: 'ajay'}

In [25]:
d2={['navya','sravya']:1}
d2

TypeError: unhashable type: 'list'

In [26]:
d2={1:['navya','sravya']}
d2

{1: ['navya', 'sravya']}

In [28]:
d8={('navya','sravya'):1}
d8

{('navya', 'sravya'): 1}

In [29]:
d8={1:('navya','sravya')}
d8

{1: ('navya', 'sravya')}

In [31]:
fruits={'mango':{'mango':25}
fruits

SyntaxError: invalid syntax (864844626.py, line 2)

In [ ]:
- **keys are important**
- keys only have latest value
- values can b duplicate
-which means different keys can have same value
- list can bot be a key
-tuple can be a key
- keys should be only one

In [32]:
da={'manish':25,'shuban':20,'govindh':15}
da

{'manish': 25, 'shuban': 20, 'govindh': 15}

In [33]:
db={'manish':25,'shuban':'20','govindh':15}
db

{'manish': 25, 'shuban': '20', 'govindh': 15}

In [35]:
dc={'manish':25,'shuban':'20','govindh':15}
dc

{'manish': 25, 'shuban': '20', 'govindh': 15}

In [34]:
dd={'manish':'25','shuban':'20','govindh':'15'}
dd

{'manish': '25', 'shuban': '20', 'govindh': '15'}

In [36]:
de={20:'manish',25:'shuban',30:'govindh'}
de

{20: 'manish', 25: 'shuban', 30: 'govindh'}

In [39]:
df={'manish':20,'shuban':20,'govindh':20}
df

{'manish': 20, 'shuban': 20, 'govindh': 20}

In [38]:
dg={20:'manish',20:'shuban',20:'govindh'}
dg

{20: 'govindh'}

In [40]:
max(da)

'shuban'

In [41]:
max(dc)

'shuban'

In [42]:
min(dc)

'govindh'

In [43]:
len(dc)

3

In [46]:
k=reversed(dc)

In [47]:
for i in k:
    print(i)

govindh
shuban
manish

In [48]:
sorted(dc)

['govindh', 'manish', 'shuban']

In [50]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'

**reversed**
- while applying reversed to dictionary, we get onlys keys
- that keys should be in reverse mode

In [52]:
dd={'manish':'25','shuban':'20','govindh':'15'}
for i in dd:
    print(i)

manish
shuban
govindh

In [ ]:
dd={'manish':'25','shuban':'20','govindh':'15'}
for i in dd:
    print(i)

In [53]:
'25' in dd

False

In [54]:
'manish'in dd

True

**index**

In [2]:
dd={'manish':'25','shuban':'20','govindh':'15'}
#if we want retrive the values
dd['manish']

'25'

In [3]:
d10={'fruits':{'mango':20}}
d10

{'fruits': {'mango': 20}}

In [4]:
#dictionary is a key:value pair
# we can not use index number directly
# whenever you want to call a value, we will use key

In [5]:
dd['manish']

'25'

In [6]:
for i in dd:
    print(i,dd[i])

manish 25
shuban 20
govindh 15

In [8]:
for i in dd:
    print(f'{i} has age: {dd[i]}')

manish has age: 25
shuban has age: 20
govindh has age: 15

In [10]:
names=['vignesh','mohit','nagesh']
age=[20,25,30]
for i,j in zip(names,age):
    print(f"{i} has age {j}")

vignesh has age 20
mohit has age 25
nagesh has age 30

**dictonary to list**

In [15]:
k=[]
v=[]
for i in dd:
    k.append(i)
    v.append(dd[i])
print(k)
print(v)

['manish', 'shuban', 'govindh']
['25', '20', '15']

In [16]:
keys=[i for i in dd]
values=[dd[i] for i in dd]
print(keys)
print(values)

['manish', 'shuban', 'govindh']
['25', '20', '15']

**how to create an empty list**
- l=[]
- l.append(20)
- l

**empty string**

- s=""
- s=s+'a'
- s

In [17]:
l=[]
l.append(20)
l

[20]

In [18]:
s=""
s=s+'a'
s

'a'

**empty dictionary**

In [ ]:
d={}
d[<key>]=<value>

In [19]:
d={}
d['navya']=22
d

{'navya': 22}

In [20]:
d['parthivi']=25
d

{'navya': 22, 'parthivi': 25}

In [21]:
d['madhra']=21
d

{'navya': 22, 'parthivi': 25, 'madhra': 21}

In [22]:
name=['navya','parthivi','madhra']
ages=[21,22,23]
namesi={}
agesi={}
for i,j in zip(name,ages):
    namesi[i]=j
namesi

{'navya': 21, 'parthivi': 22, 'madhra': 23}

**string to list**

In [23]:
s="hello hai how are you"
s.split()

['hello', 'hai', 'how', 'are', 'you']

In [34]:
s1="hello hai hai how how are you"
k=s.split()
d={}
count=0
for i in k:
    d[i]=s1.count(i)
d

{'hello': 1, 'hai': 2, 'how': 2, 'are': 1, 'you': 1}

In [ ]:
#task-1: remove a, an, the, is
#task-2: data science first letter ascii value: 68
#        since first letter ascii value :115
# output :-- {'Data':68, 'science':115}

**mutable- immutable**

- change the elements using index
- but in dictionary there is no index
- in dictinary we will change the value based on key only
- instead of using the index, chang the values using key
- if it is change it is mutable
- if it is not change it is immutable

In [37]:
dk={'madhura':20,'maya':40}
dk['madhura']=30
dk

{'madhura': 30, 'maya': 40}

- list and dictionaruy are mutable
- tuple strings are immutable
- difference between list and tuple

In [39]:
ds={'Fruits':['mango']}
ds['Fruits'][0]

'mango'

In [43]:
m={'Fruits':[{'Apple':{'kashmir':['India']}}]}
m['Fruits'][0]['Apple']['kashmir'][0]

'India'

In [48]:
s={'fruits':{'banginapalli':{'mango':{'nagpur':{'mh':{'shivaji':{'shambaji'}}}}}}}
m=list(s['fruits']['banginapalli']['mango']['nagpur']['mh']['shivaji'])
m[0]

'shambaji'

In [5]:
string1="""Data science is an interdisciplinary academic field that uses statistics, 
scientific computing, scientific methods, processes, scientific visualization, algorithms and systems to extract or
extrapolate knowledge and insights from potentially noisy, structured, or unstructured data.

Data science also integrates domain knowledge from the underlying application domain
(e.g., natural sciences, information technology, and medicine).
Data science is multifaceted and can be described as a science, a research paradigm, a research method, a discipline, a workflow, and a profession.

"""
k=string1.split()
ls=[]
dic={}
for i in k:
    if i not in ("a","an","is","that","the","and"):
        ls.append(i)
        for i in range(len(ls)):
            dic[ls[i]]=ord(ls[i][0])
print(dic,end=" ")

{'Data': 68, 'science': 115, 'interdisciplinary': 105, 'academic': 97, 'field': 102, 'uses': 117, 'statistics,': 115, 'scientific': 115, 'computing,': 99, 'methods,': 109, 'processes,': 112, 'visualization,': 118, 'algorithms': 97, 'systems': 115, 'to': 116, 'extract': 101, 'or': 111, 'extrapolate': 101, 'knowledge': 107, 'insights': 105, 'from': 102, 'potentially': 112, 'noisy,': 110, 'structured,': 115, 'unstructured': 117, 'data.': 100, 'also': 97, 'integrates': 105, 'domain': 100, 'underlying': 117, 'application': 97, '(e.g.,': 40, 'natural': 110, 'sciences,': 115, 'information': 105, 'technology,': 116, 'medicine).': 109, 'multifaceted': 109, 'can': 99, 'be': 98, 'described': 100, 'as': 97, 'science,': 115, 'research': 114, 'paradigm,': 112, 'method,': 109, 'discipline,': 100, 'workflow,': 119, 'profession.': 112}

**dictionary methods**

In [ ]:
dir(' ')# string methods
dir([])#list methods
dir(())#tuple methods
dir({})#set methods

**items-keys-values**

In [1]:
d={'navya':1,'sri':2,'reddy':3}
d.items()

dict_items([('navya', 1), ('sri', 2), ('reddy', 3)])

In [2]:
d.keys()

dict_keys(['navya', 'sri', 'reddy'])

In [3]:
d.values()

dict_values([1, 2, 3])

In [ ]:
#we already learn  how to make a list from dictionary

In [6]:
list(d.keys()),list(d.values())

(['navya', 'sri', 'reddy'], [1, 2, 3])

- Dictionary  keys will give dictionary keys items in a list
- it looks like a  list , but it is not a list
- which means it cannot apply list methods
- so we need to convert into a list type, by using list type casting

In [1]:
d={'navya':1,'sri':2,'reddy':3}
l=[]
s=[]
for i in d:
    l.append(i)
    s.append(d[i])
l,s

(['navya', 'sri', 'reddy'], [1, 2, 3])

In [4]:
for  i in list[d.keys()]:
    print(i)

TypeError: 'types.GenericAlias' object is not iterable

In [5]:
list[d.keys()]

list[dict_keys(['navya', 'sri', 'reddy'])]

In [6]:
list[d.keys()][0]

TypeError: There are no type variables left in list[dict_keys(['navya', 'sri', 'reddy'])]

In [7]:
list(d.keys())

['navya', 'sri', 'reddy']

In [8]:
list(d.keys())[0]

'navya'

In [9]:
type(list[d.keys()])

types.GenericAlias

**method-1**

In [18]:
d={'navya':1,'sri':2,'reddy':3}
l=[]
s=[]
for i in d:
    l.append(i)
    s.append(d[i])
l,s

(['navya', 'sri', 'reddy'], [1, 2, 3])

**method-2**

In [19]:
d={'navya':1,'sri':2,'reddy':3}
list(d.keys()),list(d.values())

(['navya', 'sri', 'reddy'], [1, 2, 3])

**method-3**

In [20]:
keys,values=[],[]
for i,j in d.items():
    print(i,j)
    keys.append(i)
    values.append(j)
keys,values

navya 1
sri 2
reddy 3

(['navya', 'sri', 'reddy'], [1, 2, 3])

In [21]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**fromkeys**

In [12]:
#assignment
my_dict = dict.fromkeys(['a', 'b'], 1); 
print(my_dict)

{'a': 1, 'b': 1}

**get**

In [9]:
my_dict = {'a': 1, 'b': 2};
print(my_dict.get('a',0))#here '0' is default

1

**items**

In [10]:
my_dict = {'a': 1, 'b': 2};
print(my_dict.items())

dict_items([('a', 1), ('b', 2)])

**keys**

In [11]:
my_dict = {'a': 1, 'b': 2};
print(my_dict.keys())

dict_keys(['a', 'b'])

**pop(key,default)**

In [12]:
my_dict = {'a': 1, 'b': 2};
print(my_dict.pop('a', 0))

1

In [13]:
my_dict

{'b': 2}

**popitem**

In [14]:
my_dict = {'a': 1, 'b': 2}; 
print(my_dict.popitem())

('b', 2)

In [15]:
my_dict

{'a': 1}

**clear**

In [16]:
my_dict = {'a': 1, 'b': 2}
my_dict.clear()

In [17]:
my_dict

{}

**copy**

In [18]:
my_dict = {'a': 1, 'b': 2}
new_dict = my_dict.copy()
print(new_dict)

{'a': 1, 'b': 2}