In [3]:
a=10
b=20
c=a+b
c

30

- I am navya sri

# python
## python
### Python

- Today I learn how to open jupter notebook
- I created a folder
- From tomorrow i will learn
- I Understood about kernal
- Bcoz python kernal will run step by step
- This is called markdown
- I understood kernal
- esc+m is shortcut for code mode to markdown
- esc+y is shortcut for escape mode to code

<img id="dimg_227" src="" class="YQ4gaf" height="168" style="object-position:0% 38%" width="300" alt="Jupyter Notebooks: A Beginner's Guide ..." data-csiid="20" data-atf="1">

# variable
variables are used to store the values can be changed

In [1]:
n=100 # value 100 stored in a variable name n
n #shift+enter

100

In [4]:
n=200 # value 100 stored in a variable name n
n #shift+enter

200

** Note**
- python is a step by step process
- it takes the last values
- in above code we use same variable
- but values changed for variable is changed
- 1 st value 100
- 2nd value 200
- the answer is 200

In [3]:
NUMBER=300
NUMBER

300

In [6]:
n, NUMBER

(200, 300)

In [7]:
num123=400
num123

400

In [9]:
123num = 400
123num

SyntaxError: invalid syntax (473538983.py, line 1)

In [10]:
num%er=600
num%er

SyntaxError: cannot assign to operator (2211805861.py, line 1)

In [11]:
num one=200
num one

SyntaxError: invalid syntax (4126917059.py, line 1)

In [12]:
num_one=400
num_one

400

In [14]:
_=100
_

100

In [15]:
n1,n2=100
n1,n2

TypeError: cannot unpack non-iterable int object

In [16]:
n1=100,200
n1

(100, 200)

In [17]:
n3=400
n4=800
print(n3)
print(n4)

400
800

- python variables are case sensitive
- variables can be declare as capital letters
- variables can be declare as small ltters
- variables can not start with numbers
- numbers can be suffix of letters
- variables can not have special characters
- only underscore is possibe
- variables can not have space in between
- keywords  cannot be allowed
- sigle value cannot assigned to a two variables or more
- single variable can have multiple values